@use "../global" as global;

header{
    background: global.$w-color;
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height:120px;
    z-index:50;

    @include global.mq('sp') {
        height:68px;
    }
}
.p-header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.p-header-logo{
    width:130px;
    margin-left:24px;
    margin-right:24px;

    @include global.mq('sp') {
        width:76px;
}
}






