section.p-access
    .l-inner
        .c-section-title_line
            h2.c-section-title_main ACCESS
            p.c-section-title_sub アクセス
                .c-card-item
                    .c-card-content
                        p.c-card-title 
                        p 
                        p.c-card-address J
                        p.c-card-address TEL 00-0000-0000
                        p 営業時間 
                    .c-card-map
                        iframe(src="https://www.google.com/)