footer
    .l-inner
        .p-footer-upper
            .p-footer-logo
                img(src="./assets/img/logo.svg")
            .p-footer-list
                include ./_nav.pug
                include ./_sns-list.pug
        .p-footer-copyright
            p 
            small &copy; 
script(src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous")
script(src="./assets/js/script.js")

