header
    .l-inner.p-header
        h1.p-header-logo
            a(href="#")
                img(src="./assets/img/logo.svg")
        #js-drawer
            include ./_header-nav.pug
        button.c-cta-button
            a 
        //-sp-menu
        #js-button.p-hamburger.u-sp-only.open
            span
            span
            span
        #js-mask.p-mask.open
