extend ./templates/_page.pug
append value
    - const title= "GreenSalad Project";
    - const description= "GreenSalad  Project";
    - const path= "."

block content
        hr.u-separate
        include ./parts/_header.pug
        include ./parts/_footer.pug
     
        




